@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .responsive-img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .max-w-banner {
    max-width: 100%;
    height: auto;
  }
  .input {
    @apply rounded-full
    border border-stone-200 px-4
    py-2 text-sm
    transition-all duration-300
    placeholder:text-stone-400 focus:outline-none
    focus:ring focus:ring-yellow-400 md:px-6 md:py-3;
  }

  /* https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
  .loader {
    width: 45px;
    aspect-ratio: 0.75;
    --c: no-repeat linear-gradient(theme(colors.stone.700) 0 0);
    background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
    background-size: 20% 50%;
    animation: loading 1s infinite linear;
  }

  @keyframes loading {
    20% {
      background-position: 0% 0%, 50% 50%, 100% 50%;
    }
    40% {
      background-position: 0% 100%, 50% 0%, 100% 50%;
    }
    60% {
      background-position: 0% 50%, 50% 100%, 100% 0%;
    }
    80% {
      background-position: 0% 50%, 50% 50%, 100% 100%;
    }
  }
}
@layer utilities {
  /* Example utility classes for image responsiveness */
  .w-full {
    width: 100%;
  }

  .h-full {
    height: auto;
  }

  .object-cover {
    object-fit: cover;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.main-heading {
  margin-bottom: 20px;
  font-size: 3rem;
  font-weight: 700;
  color: #4A4A4A;
  animation: fadeInUp 1s ease-in-out;
}

.sub-heading {
  color: #FFC107;
  font-size: 1.5rem;
  animation: fadeInUp 1s ease-in-out 0.5s;
}
